PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PUBLIC_STRIPE_KEY=
STRIPE_SECRET_KEY=
STRIPE_CLIENT_ID=
STRIPE_CONNECT_SCOPE=read_write
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
TRIGGER_API_KEY=
TRIGGER_API_URL=
PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
ANTHROPIC_API_KEY=
PUBLIC_APP_URL=
